<hr>
  <%= form_for @user, url: admin_user_path(@user) do |form| %>
    <div class="field">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    
    <%= form.submit 'Update' %>
  <% end %>
</hr>